* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-family: 'Karla';
    max-width: 1400px;
    width: 100vh;
    background-color: hsl(218, 22%, 67%);
    /* - Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%) */
    /* - Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%) */
}

main h2 {
    color: hsl(179, 62%, 43%);
}

main h3 {
    color: hsl(71, 73%, 54%);
}

main p {
    color: hsl(218, 22%, 67%);
    line-height: 1.5em;
}

article {
    background-color: hsl(179, 61%, 44%);
    padding: 20px;
    color: #fff;
}

main {
    background-color: white;
    padding: 20px;
}

article h2 {
    font-size: 2em;
    display: inline-block;
}

article small {
    display: inline-block;
}

section {
    padding: 20px;
    background-color: hsl(179, 47%, 52%);
    color: #fff;
    line-height: 1.5em;
}

section ul {
    padding: 0;
    margin: 0;
}

section li {
    list-style-type: none;
}

@media screen and (max-width:375px) {}